/* 头部样式 */
*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}

a{
    color: #ffffff;
    text-decoration: none;
}

li{
    list-style:none;
}
div {
    display: block;
}




.top{
    border: 1px solid red;
    top: 0;
    width: 100%;
    z-index: 2;
    will-change: opacity;
    position: relative;
}
.top_one{
    font-size: 16px;
    color: #eaeaea;
    display: table;
    table-layout: fixed;
    width: 100%;
    min-height: 52px;
    -webkit-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
    background-color: #2874f0;
}

.left_menu{
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 20%;
    width: 42px;
    max-height: 16px;
    line-height: 10px;
    position: relative;
    overflow: hidden;
}

.logo{
    display: table-cell;
    vertical-align: middle;
    height: 28px;
    overflow: hidden;
    line-height: 10px;
    max-width: 111px;
    padding-top: 2px;
    position: relative;
}
.top_middle2{
    text-align: left;
    padding-left: 12px;
}
.top_middle{
    display: table-cell;
    vertical-align: middle;
    /* overflow: hidden; */
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
}

_2TbFnS {
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 20%;
    width: 42px;
    max-height: 16px;
    line-height: 10px;
    position: relative;
    overflow: hidden;
}