/* 头部样式 */
*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}

a{
    color: #ffffff;
    text-decoration: none;
}

li{
    list-style:none;
}

.body{
    /* width:100%; */
    width:1200px;
    margin: 0 auto;
}




#container {
    height: 100%;
}
.header{
    background-color: #2874f0;
    height: 56px;
}

.logo img{
    width: 55px;
    height: 30px;
    float:left;
    margin-top: 13px;
}

.search{
    float:left;
    margin-left: 1%;
    width: 50%;
    height: 36px;
    line-height: 56px;
}

.search input{
    padding: 0 16px;
    border-radius: 2px 0 0 2px;
    border: 0 none;
    outline: 0 none;
    font-size: 14px;
    height: 36px;
    width: 100%;
    float: left;
    margin-top: 10px;
}

.submit img{
    height: 20px;
    width: 20px;
    float: right;
    margin-top: -27px;
    cursor: pointer;
}

.header_right{
    float: right;
    color: #FFFFFF;
    width: 30%;
}

.header_right div{
    height: 56px;
    float: left;
    margin-right: 5%;
    line-height: 56px;
    cursor: pointer;
}
.header_content{
    width: 80%;
    height: 56px;
    border: 1px solid green;
    margin: 0 auto;
}
.category{
    width: 100%;
    height: 40px;
    background-color: #FFFFFF;
    border: 1px solid red;
    float: left;
}
.category ul{
    height: 40px;
    width: 80%;
    margin: 0 auto;
    border: 1px solid green;
    text-align: center;
}
.category ul li{
    width: 7%;
    height: 40px;
    float: left;
    margin-right: 5%;
    line-height: 40px;
}